@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap");
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
}
.header .nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav__logo {
  color: hsl(0, 0%, 95%);
  font-weight: 600;
}
@media (max-width: 1023px) {
  .header .nav .nav__menu {
    position: fixed;
    right: -100%;
    top: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top 0.4s;
  }
}
.header .nav .nav__menu .nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.header .nav .nav__menu .nav__list .nav__title .nav__link {
  color: hsl(0, 0%, 95%);
  font-weight: 500;
}
.header .nav .nav__menu .nav__close {
  display: flex;
  font-size: 1.25rem;
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.header .nav .nav__toggle {
  display: flex;
  font-size: 1.25rem;
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.show-menu {
  right: 0 !important;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

.home {
  position: relative;
}
.home .home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .home__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(0, 0%, 0%) 78%);
}
.home .home__container {
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}
.home .home__container .home__data {
  text-align: center;
}
.home .home__container .home__subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.home .home__container .home__title {
  font-size: 2.75rem;
  margin-bottom: 1rem;
}
.home .home__container .home__description {
  margin-bottom: 2rem;
  color: hsl(0, 0%, 95%);
}
.home .home__container .button {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 1.25rem 1.5rem;
  color: hsl(0, 0%, 95%);
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-weight: 600;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.home .home__container .button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
  font-weight: initial;
}
.home .home__container .button:hover i {
  transform: translateX(0.25rem);
}
.home .home__cards {
  grid-template-columns: 240px;
  justify-content: center;
}
.home .home__cards .home_card {
  position: relative;
  overflow: hidden;
}
.home .home__cards .home_card:hover .home__card-img {
  transform: scale(1.2);
}
.home .home__cards .home_card img {
  transition: transfrom 0.4s;
}
.home .home__cards .home_card .home__card-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 1rem;
  z-index: 1;
}
.home .home__cards .home__card-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

.about__container {
  row-gap: 3rem;
}
.about__container .about__data {
  text-align: center;
}
.about__container .about__data .about__description {
  margin-bottom: 2rem;
}
.about__container .about__data .button {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 1.25rem 1.5rem;
  color: hsl(0, 0%, 95%);
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-weight: 600;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.about__container .about__data .button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
  font-weight: initial;
}
.about__container .about__data .button:hover i {
  transform: translateX(0.25rem);
}
.about__container .about__image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}
.about__container .about__image:hover .about__img {
  transform: scale(1.2);
}
.about__container .about__image .about__img {
  width: 300px;
  transition: transform 0.4s;
}
.about__container .about__image .about__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  color: hsl(0, 0%, 70%);
}

body {
  background-color: hsl(0, 0%, 0%);
  font-family: "Poppins", sans-serif;
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: hsl(0, 0%, 95%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */