@import "./variables";

.join__container {
  row-gap: 3rem !important;
  padding-bottom: 2.5rem;

  .join__data {
    text-align: center;

    .join__description {
      margin-bottom: 2rem;
    }

    .join__form {
      display: grid;
      row-gap: 1rem;

      .join__input {
        // text-align: center;
        padding: 1.25rem 1rem;
        background-color: hsl(0, 0%, 8%);
      }

      .button {
        background-color: hsla(0, 0%, 100%, 0.2);
        padding: 1.25rem 1.5rem;
        color: $--title-color;
        display: inline-flex;
        align-items: center;

        column-gap: 0.5rem;
        font-weight: $--font-semi-bold;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);

        i {
          font-size: 1.25rem;
          transition: transform 0.4s;
          font-weight: initial;
        }

        &:hover i {
          transform: translateX(0.25rem);
        }
      }
    }
  }

  .join__image {
    position: relative;
    justify-self: center;
    overflow: hidden;
    // transition: all 0.3s ease-in-out;

    &:hover {
      .join__img {
        transform: scale (1.2);
      }
    }

    .join__img {
      transition: transform 0.4s;
      width: 300px;
    }

    .join__shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0) 50%,
        hsl(0, 0%, 0%) 125%
      );
    }
  }
}
